aniso8601==6.0.0
attrs==19.1.0
blinker==1.4
certifi==2019.3.9
Click==7.0
Flask==1.0.2
flask-marshmallow==0.10.0
flask-restplus==0.12.1
Flask-Script==2.0.6
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.1
MarkupSafe==1.1.1
marshmallow==2.19.1
mongoengine==0.17.0
pymongo==3.7.2
pyrsistent==0.14.11
pytz==2018.9
sentry-sdk==0.7.6
six==1.12.0
urllib3==1.26.5
Werkzeug==0.14.1
